ENV=local
PORT=8000
TZ=utc
GLOBAL_PREFIX=
CORS_ORIGIN=http://localhost:3000
FILE_URL='http://192.168.3.19:8000/v1/file?id='
#Swagger
SWAGGER_PATH = /api/swagger

PORTAL_URL=
OTP_TEST_MODE=true

#Swagger
SWAGGER_PATH=/api/swagger

#Database
TYPEORM_URL=postgres://pgsqladmin:Pass!23456@localhost:5432/app_center_db
TYPEORM_SYNCHRONIZE=true
TYPEORM_LOGGING=true
TYPEORM_MIGRATIONS=src/database/migrations/*.ts
TYPEORM_MIGRATIONS_DIR=src/database/migrations
TYPEORM_MIGRATIONS_RUN=true
TYPEORM_SEEDING_FACTORIES=src/database/factories/**/*{.ts,.js}
TYPEORM_SEEDING_SEEDS=src/database/seeds/**/*{.ts,.js}

#Redis
REDIS_URL=redis://localhost:6379
# or
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_USERNAME=default
REDIS_PASSWORD=
REDIS_TLS_ENABLE=false

#[Services]

#JWT
JWT_SECRET=always_learning

#Email provider
EMAIL_SENDER=
EMAIL_PASSWORD=
EMAIL_HOST=

#Encryption
PASSPHRASE=PASSPHRASE
KEY=sQbUg3ZhtC2tupiRuN0RdvdZABYX6PBGATUle6B17gVQS0jow9OcR0hzigdvLwC1


# AWS S3
BUCKET_KEY=minoadmin
BUCKET_SECRET=Pass!23456
BUCKET_NAME=local-bucket
BUCKET_ENDPOINT=http://127.0.0.1:9000
BUCKET_REGION=local
FILE_API="http://localhost:8000/api/v1/file?id="
PUBLIC_API="http://localhost:8000/api"

#Default Admin
DEFAULT_ADMIN_ENABLED=true ##Only enabled when set to true.
DEFAULT_ADMIN="Admin" ##Type in the default Admin name here
DEFAULT_ADMIN_USERNAME=admin@admin.com ##Type in the default Admin username here
DEFAULT_ADMIN_PASSWORD=Pass!23456 ##Type in the default Admin password here

#Default Tenant
DEFAULT_TENANT_ENABLED=false ##Only enabled when set to true.
DEFAULT_TENANT="Default Company" ##Type in the default Tenant name here
DEFAULT_TENANT_DOMAINNAME="default-tenant" ##Type in the default Tenant domain name here
DEFAULT_TENANT_USERNAME="default@tenant.com" ##Type in the default Tenant username here
DEFAULT_TENANT_PASSWORD=Pass!23456 ##Type in the default Tenant password here

#Stripe
STRIPE_PUBLIC_KEY=
STRIPE_SECRET_KEY=
STRIPE_ENDPOINT_SECRET=

#Free Limit
FREE_TEAM_LIMIT=1
FREE_APP_LIMIT=1

#Github
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=