name: Deploy

on:
  workflow_dispatch:
  push:
    branches:
      - 'main'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: dorny/paths-filter@v2
        id: filter
        with:
          filters: |
            frontend:
              - 'apps/frontend/**'
            backend:
              - 'apps/backend/**'
      - uses: nrwl/nx-set-shas@v3
        if: ${{ steps.filter.outputs.frontend == 'true' || steps.filter.outputs.backend == 'true' }}
      - name: Build Frontend
        if: steps.filter.outputs.frontend == 'true'
        run: npx nx build frontend
      - name: Build Backend
        if: steps.filter.outputs.backend == 'true'
        run: npx nx build backend
