name: Deploy

on:
  workflow_dispatch:
  push:
    branches:
      - 'main'

jobs:
  # JOB to run change detection
  changes:
    runs-on: ubuntu-latest
    # Required permissions
    permissions:
      pull-requests: read
    # Set job outputs to values from filter step
    outputs:
      backend: ${{ steps.filter.outputs.backend }}
      frontend: ${{ steps.filter.outputs.frontend }}
    steps:
      - uses: actions/checkout@v3
      - uses: dorny/paths-filter@v2
        id: filter
        with:
          filters: |
            frontend:
              - 'apps/frontend/**'
            backend:
              - 'apps/backend/**'

  build:
    needs: changes
    if: ${{ needs.changes.outputs.backend == 'true' || needs.changes.outputs.frontend == 'true' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18
      - uses: pnpm/action-setup@v2
        name: Install pnpm
        with:
          version: latest
          run_install: false

      - name: Get pnpm store directory
        shell: bash
        run: |
          echo "STORE_PATH=$(pnpm store path --silent)" >> $GITHUB_ENV

      - uses: actions/cache@v3
        name: Setup pnpm cache
        with:
          path: ${{ env.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      # PNPM install
      - run: pnpm install
        if: ${{ needs.changes.outputs.frontend == 'true' || needs.changes.outputs.backend == 'true' }}
      # Build App
      - name: Build Frontend
        if: needs.changes.outputs.frontend == 'true'
        run: pnpm nx build frontend
      - name: Build Backend
        if: needs.changes.outputs.backend == 'true'
        run: pnpm nx build backend

      # Upload artifact
      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v2
        with:
          name: artifact
          path: |
            ./apps/backend/Dockerfile
            ./apps/frontend/Dockerfile
            ./apps/frontend/default.conf
            ./dist

  deploy:
    needs: [changes, build]
    runs-on: ubuntu-latest
    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v2
        with:
          name: artifact

      - name: Generate GITHUB_SHA
        id: github-sha
        shell: bash
        run: |
          SHORT_SHA=$(echo $GITHUB_SHA | head -c7)
          echo "::set-output name=sha::$SHORT_SHA"
      - name: Install doctl
        uses: digitalocean/action-doctl@v2
        with:
          token: ${{ secrets.DIGITALOCEAN_ACCESS_TOKEN }}

      - name: Build Frontend container image
        if: needs.changes.outputs.frontend == 'true'
        run: docker build -f ./apps/frontend/Dockerfile . -t registry.digitalocean.com/two-rocks-studio/app-center/frontend:${{steps.github-sha.outputs.sha}}
      - name: Build Backend container image
        if: needs.changes.outputs.backend == 'true'
        run: docker build -f ./apps/backend/Dockerfile . -t registry.digitalocean.com/two-rocks-studio/app-center/backend:${{steps.github-sha.outputs.sha}}

      - name: Log in to DigitalOcean Container Registry with short-lived credentials
        if: ${{ needs.changes.outputs.frontend == 'true' || needs.changes.outputs.backend == 'true' }}
        run: doctl registry login --expiry-seconds 1200

      - name: Push frontend image to DigitalOcean Container Registry
        if: needs.changes.outputs.frontend == 'true'
        run: docker push registry.digitalocean.com/two-rocks-studio/app-center/frontend:${{steps.github-sha.outputs.sha}}
      - name: Push backend image to DigitalOcean Container Registry
        if: needs.changes.outputs.backend == 'true'
        run: docker push registry.digitalocean.com/two-rocks-studio/app-center/backend:${{steps.github-sha.outputs.sha}}

      - name: DigitalOcean App Platform deployment
        if: needs.changes.outputs.frontend == 'true'
        uses: digitalocean/app_action@v1.1.5
        with:
          app_name: app-center
          token: ${{ secrets.DIGITALOCEAN_ACCESS_TOKEN }}
          images: '[
            {
            "name": "app-center-frontend",
            "image":{
            "registry_type": "DOCR",
            "repository": "app-center/frontend",
            "tag": "${{steps.github-sha.outputs.sha}}"
            }
            }
            ]'

      - name: DigitalOcean App Platform deployment
        if: needs.changes.outputs.backend == 'true'
        uses: digitalocean/app_action@v1.1.5
        with:
          app_name: app-center
          token: ${{ secrets.DIGITALOCEAN_ACCESS_TOKEN }}
          images: '[
            {
            "name": "app-center-backend",
            "image":{
            "registry_type": "DOCR",
            "repository": "app-center/backend",
            "tag": "${{steps.github-sha.outputs.sha}}"
            }
            }
            ]'

  deploy_frontend_docker_hub:
    if: ${{ needs.changes.outputs.frontend == 'true' }}
    needs: [changes, build]
    runs-on: ubuntu-latest
    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v2
        with:
          name: artifact

      - name: Generate GITHUB_SHA
        id: github-sha
        shell: bash
        run: |
          SHORT_SHA=$(echo $GITHUB_SHA | head -c7)
          echo "::set-output name=sha::$SHORT_SHA"

      - name: Log in to Docker Hub
        uses: docker/login-action@f4ef78c080cd8ba55a85445d5b36e214a81df20a
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./apps/frontend/Dockerfile
          push: true
          tags: app-center/frontend:${{steps.github-sha.outputs.sha}}

      # - name: Build Frontend container image
      #   if: needs.changes.outputs.frontend == 'true'
      #   run: docker build -f ./apps/frontend/Dockerfile . -t registry.digitalocean.com/two-rocks-studio/app-center/frontend:${{steps.github-sha.outputs.sha}}
      # - name: Build Backend container image
      #   if: needs.changes.outputs.backend == 'true'
      #   run: docker build -f ./apps/backend/Dockerfile . -t registry.digitalocean.com/two-rocks-studio/app-center/backend:${{steps.github-sha.outputs.sha}}
